@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 248 100% 98%;
    --foreground: 248 24% 25%;
    --card: 0 0% 100%;
    --card-foreground: 248 24% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 248 24% 25%;
    --primary: 257 73% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 245 25% 45%;
    --secondary-foreground: 0 0% 100%;
    --muted: 248 31% 94%;
    --muted-foreground: 248 20% 42%;
    --accent: 51 78% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 21 68% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 248 21% 85%;
    --input: 0 0% 100%;
    --ring: 257 73% 47%;
    --chart-1: 257 73% 47%;
    --chart-2: 51 78% 65%;
    --chart-3: 147 66% 58%;
    --chart-4: 295 65% 46%;
    --chart-5: 21 68% 50%;
    --sidebar: 0 0% 100%;
    --sidebar-foreground: 248 24% 25%;
    --sidebar-primary: 257 73% 47%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 51 78% 65%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 248 14% 89%;
    --sidebar-ring: 257 73% 47%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 12%;
    --foreground: 248 100% 98%;
    --card: 0 0% 16%;
    --card-foreground: 248 100% 98%;
    --popover: 0 0% 16%;
    --popover-foreground: 248 100% 98%;
    --primary: 258 58% 62%;
    --primary-foreground: 0 0% 12%;
    --secondary: 248 19% 55%;
    --secondary-foreground: 0 0% 12%;
    --muted: 248 28% 28%;
    --muted-foreground: 248 21% 85%;
    --accent: 63 66% 72%;
    --accent-foreground: 0 0% 12%;
    --destructive: 20 72% 60%;
    --destructive-foreground: 0 0% 12%;
    --border: 248 20% 42%;
    --input: 0 0% 16%;
    --ring: 258 58% 62%;
    --chart-1: 258 58% 62%;
    --chart-2: 63 66% 72%;
    --chart-3: 147 72% 74%;
    --chart-4: 296 64% 66%;
    --chart-5: 20 72% 60%;
    --sidebar: 0 0% 12%;
    --sidebar-foreground: 248 100% 98%;
    --sidebar-primary: 258 58% 62%;
    --sidebar-primary-foreground: 0 0% 12%;
    --sidebar-accent: 63 66% 72%;
    --sidebar-accent-foreground: 0 0% 12%;
    --sidebar-border: 248 20% 42%;
    --sidebar-ring: 258 58% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 12px; /* 9pt */
  }
}
